<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.abbad.align">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logocircle"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vsPlayerActivity" />
        <activity android:name=".gameActivity" />
        <activity
            android:name=".marketActivity">
        </activity>
        <activity android:name=".PieceShopActivity" />
        <activity android:name=".BoardShopActivity" />
        <activity android:name=".vsAiActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".signupActivity"></activity>
    </application>

</manifest>